<!DOCTYPE html>
<html>
<head>
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h1>Make a Payment</h1>
    <button id="rzp-button">Pay Now</button>

    <script>

        document.getElementById('rzp-button').onclick = function () {
            var options = {
                "key": "rzp_test_FJnGVnTzsZtDHD",
                "amount": amount,
                "currency": currency,
                "name": "HDF Company Name",
                "description": "Payment for Order",
                "image": "your_logo_url",
                "order_id": "gdsjhgffs",
                "handler": function (response){
                    // Handle the success response
                    console.log(response);
                },
                "prefill": {
                    "name": "John Doe",
                    "email": "john@example.com",
                    "contact": "+1234567890"
                }
            };

            var rzp = new Razorpay(options);
            rzp.open();
        };
    </script>
</body>
</html>
